84.247.184.155 {
    auto_https off

    # Backend API (NestJS)
    handle_path /api/* {
        reverse_proxy localhost:3001
    }

    # Next.js static assets
    handle_path /_next/static/* {
        header Cache-Control "no-cache, must-revalidate"
        reverse_proxy localhost:3000
    }

    # Frontend (Next.js)
    handle {
        reverse_proxy localhost:3000
    }
}
